<!DOCTYPE html>
<html lang="ja">
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<meta name="Author" content="Takatty">
		<meta name="title" content="Sharechat">
		<title></title>
		<link rel='stylesheet' href='/stylesheets/chat-text.css' />
		<link rel='stylesheet' href='/stylesheets/responsive/chat-text-responsive.css'/>
		<script src="../routes/chat.js" type="text/javascript"></script>
		<script>
			function abc(num) {
				document.form.kind.value = num;
				document.form.action = "/chat/<%= text.room_id %>/text/<%= text.message_id %>/account/<%= text.user_id %>/edit"//フォームの送信先指定。
				document.form.submit();//フォーム名＋submit()でフォームを送信。
			}
		</script>
	</head>

	<body>
		<header>
			<div class="header-title">
				<h1>Room Name</h1>
				<p>このページでは、チャットメッセージの編集や削除が選択出来ます。</p>
			</div>
		</header>

		<main>
			<div class="chat">
				<div class="chat-show">
					<div class="chat-people">
						<div class="chat-people-img">
							<p>
								<img src="/images/human.png" width="130" height="130">
							</p>
						</div>
						<div class="chat-people-name">
							<p><%= user.name %></p>
						</div>
					</div>
					<div class="chat-content">
						<form action="" method="POST" name="form">
							<div class="chat-mess">
								<p>
									<input type="text" value='<%= text.text %>' name="text">
								</p>
							</div>
							<div class="buttoms">
								<p>
									<input type="button" value="<%= delete_bottom %>" class="delete" onClick="abc(1);" >
									<input type="hidden" value="" name="kind" >
								</p>
								<p>
									<input type="button" value="<%= edit_bottom %>" onClick="abc(2);" class="account-bottom">
								</p>
							</div>
						</form>
					</div>
				</div>
			</div>
		</main>

		<footer>
		</footer>
	</body>
</html>